<!-- 
<div class="green-pos">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header">Reset Password</div>

                  <div class="card-body">

                      <form method="POST" action="https://3.104.206.137/password/email">
                          <input type="hidden" name="_token" value="tKcA4Rtcl41dhCAK9QDv1JXZkGyT5gdL7tSpNtCc">
                          <div class="form-group row">
                              <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                              <div class="col-md-6">
                                  <input id="email" type="email" class="form-control" name="email" value=""
                                      required="">

                              </div>
                          </div>

                          <div class="form-group row mb-0">
                              <div class="col-md-6 offset-md-4">
                                  <button type="submit" class="btn btn-primary">
                                      Send Password Reset Link
                                  </button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->

<div class="green-pos">
    <div class="page-locked pos-auth">
        <img [src]="lockscreen" class="background-image">
        <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
            <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
                <img [src]="pos_logo_light" class="logo-auth">
                <p class="auth-heading">Reset Password</p>
                <form method="POST" action="https://3.104.206.137/password/email">
                    <input type="hidden" name="_token" value="tKcA4Rtcl41dhCAK9QDv1JXZkGyT5gdL7tSpNtCc">
                    <div class="input-group">
                        <input id="email" type="email" class="form-control" name="email" value="" placeholder="Input Email Address" required="">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="full-width-page">
    <footer class="site-footer site-footer-dark fixed-bottom">
        <div class="site-footer-legal">© 2018
            <a href="#"><img [src]="pos_logo_light" class="green-pos-footer"></a></div>
        <div class="site-footer-right">
            Cooked by <a href="https://nubeslab.com/"><img [src]="nubeslab_light" class="nubeslab-footer"></a>
        </div>
    </footer>
</div>