
// Body
$body-bg: #f1f4f5;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-colors: (
        "primary": #1dbc9c,
        "secondary": #71938c,
        "tertiary": #a0cc90,
        "danger": #ff4136,
        "edit": #6e9199,
        "delete": #d5554e
);