.page-locked.pos-auth > div {
    background: transparent;
    .page-content {
      display: inline-block;
      width: 23%;
      margin-top: 10%;
      .btn.btn-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(29, 188, 156);
        border-color: rgb(29, 188, 156);
      }
      a{
        color: rgb(29, 188, 156);
        background-color: transparent;
        text-decoration: none;
      }
    }
  }