<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="green-pos">
    <div class="green-pos-index">
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav-fixed">
            <a class="navbar-brand" href="#"><img [src]="pos_logo" class="nav-logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <div class="my-2 my-lg-0">
                    <a href="./auth/sign-in" class="btn btn-link my-2 my-sm-0">Sign in</a>
                </div>
                <div class="my-2 my-lg-0">
                    <a href="./auth/sign-up" class="btn btn-outline-primary my-2 my-sm-0">Sign up</a>
                </div>
            </div>
        </nav>

        <div class="banner">
            <div class="background">
                <img [src]="index_banner">
            </div>
            <div class="banner-text">
                <h5>Green POS</h5>
                <h1>Lorem ipsum dolor sit amet</h1>
                <h1>Duis cursus rutrum</h1>
            </div>
        </div>
        <div class="index-features">
            <div class="row">
                <div class="col-xl-3 col-sm-6">
                    <div class="features-icon">
                        <img [src]="features_icon" class="img-responsive">
                    </div>
                    <div class="features-text">
                        <h6>Nullam at elit diam. Fusce sed purus pretium, vulputate leo in, ullamcorper lorem. Integer
                            finibus.</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="features-icon">
                        <img [src]="features_icon" class="img-responsive">
                    </div>
                    <div class="features-text">
                        <h6>Morbi mollis ultricies maximus. Curabitur quam turpis, lacinia non orci quis, auctor
                            porttitor dui. Ut.</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="features-icon">
                        <img [src]="features_icon" class="img-responsive">
                    </div>
                    <div class="features-text">
                        <h6>Mauris quis risus vel nulla gravida interdum eget sed lacus. Mauris posuere massa et
                            dui.</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="features-icon">
                        <img [src]="features_icon" class="img-responsive">
                    </div>
                    <div class="features-text">
                        <h6>Aenean dapibus ante sit amet mi iaculis viverra. Nam libero dui, vestibulum et diam
                            eget.</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="index-pricing">
                <div class="row">
                    <div class="col-md-3 d-none d-md-block">
                        <div class="pricing-items-row">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pricing-row">
                            <div class="row">
                                <div class="col-12">
                                    <div class=" pricing-header-1">
                                        Heading 1
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pricing-row">
                            <div class="row">
                                <div class="col-12">
                                    <div class=" pricing-header-2">
                                        Heading 1
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pricing-row">
                            <div class="row">
                                <div class="col-12">
                                    <div class=" pricing-header-3">
                                        Heading 1
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-md-none">
                                    <div class="pricing-item">
                                        lorem
                                    </div>
                                </div>
                                <div class="col-md-12 col-6">
                                    <div class="pricing-value">
                                        lorem
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="container-fluid index-footer">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-sm-3 col-6">
                    <div class="footer-logo">
                        <img [src]="pos_logo_light" class="img-responsive">
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6">

                </div>
                <div class="col-xl-4 col-lg-3 col-sm-6">

                </div>
                <div class="col-xl-4 col-lf-3 col-sm-6">

                </div>

            </div>
        </div>
    </div>
</div>